input[type="text"],
input[type="password"],
input[type="email"],
select {
    border: 2px solid #DBDBDB;
    border-radius: 5px;
}

.service-boxes{
    max-width: 80%;
    margin: auto auto 20px auto;
    display: flex;
    flex-direction: column;
}

.service-boxes .checkboxes{
    border-radius: 5px;
    border: 1px solid #FDAE39;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.error-messages {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}
